<div class="container mt-5">
<h1>LISTS</h1>
<ul id="lists">
<% @lists.name.each do |name| %>
    <li>
      <%= @list.name%>
    </li>
    <p>
    <%= link_to "list.name" %>
    </p>
    <% end %>

</ul>


</div>
