<h1>New Bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
  <%= link_to lists_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>
